<body>
    <nav class="navbar navbar-expand-lg  ">
        <a class="navbar-brand" >Optical Communication</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navspace">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/articles']" routerLinkActive="active" id="navitem">Articles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/videos']" routerLinkActive="active" id="navitem">Videos</a>
                </li>
                <li class="nav-item">
                   <a class="nav-link" [routerLink]="['/projects']" routerLinkActive="active" id="navitem">Projects</a>
               </li>
               <li class="nav-item">
                <a class="nav-link" [routerLink]="['/design']" routerLinkActive="active" id="navitem">Design</a>
               </li>
               <li class="nav-item">
                <a class="nav-link" [routerLink]="['/datasheet']" routerLinkActive="active" id="navitem">Datasheet</a>
               </li>
               <li class="nav-item">
                <a class="nav-link" [routerLink]="['/feedback']" routerLinkActive="active" id="navitem">Feedback</a>
               </li>
    
               <li class="nav-item">
                <a class="nav-link"  id="navitem1">Hello, {{username}}!</a>
               </li>
               <li class="nav-item">
                <a class="nav-link" id="navitem2" (click)="logout()">Log Out</a>
               </li>
    
    
      
            </ul>
        </div>
      </nav>

            

        
         
        
        <div class="card">
        
        <div class="videos">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PRVDR7gM0uI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="title">
         <h1>
         What is optical communication? </h1>
        </div>
        
        </div>
        
        
        
        <div class="card">
        
        <div class="videos">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3a7rc4mEadg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="title">
         <h1>
         Basics of optical communication</h1>
        
        
        </div>
        </div>
        
        
        
        <div class="card">
        
        <div class="videos">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vtR0XbMwmXQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="title">
         <h1>
         Need for optical fibres</h1>
        
        </div>
        </div>
        
        <div class="card">
        
        <div class="videos">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vtR0XbMwmXQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="title">
         <h1>
         Optical fibres v/s Copper wires</h1>
        
        </div>
        </div>
        
        
        
        
        
        
        <div class="card">
        
        <div class="videos">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/q6_q2IBm93o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="title">
         <h1>
         Working of fibre optics communication</h1>
        
        </div>
        </div>
        
        
        <div class="card">
        
        <div class="videos">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aQ9CM2Cn3IM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="title">
         <h1>
         Advantages of Optical communication</h1>
        
        </div>
        </div>


        
</body>