
<head>
      <title>ESD Project</title>
</head>
<body>
     <header>
            <div class="title"  >
                <h1 > What is Optical Communication?   </h1>
                <h2> Optical communication is any type of communication in which light is used to carry the signal to the remote end, instead of electrical current. Optical communication relies on optical fibers to carry signals to their destinations.<br/></h2>
                <h3> Please <button type="button" class="btn  btn-lg" [routerLink]="['/login']" id="button" >login</button>
                     to find more articles, videos and research papers related to this topic and if you are new to this website then click here to
                     <button type="button" class="btn  btn-lg" [routerLink]="['/register']" id="button" >register</button>. </h3>
            </div>
        </header>
    </body>
