.navbar-brand{
    color: white;
    font-size: 25px;
}

.navbar-brand.active{
    color: #b4dafc;
}
.navspace{
  margin-left: 3%;
}
#navitem{
    color: white;
    font-size: 18px;
    margin-top: 10px;
}
#navitem.active{
    color: #b4dafc;
}
#navitem:hover{
    color: #b4dafc;
}
.container-fluid{
    color: white;
}
#navitem1{
  margin-left: 5%;
  color: white;
  font-size: 18px;
  margin-top: 11px;
  margin-left: 200px;
}
#navitem2{
  color: white;
  font-size: 18px;
  margin-top: 10px;
}
#navitem2.active{
  color: #b4dafc;
}
#navitem2:hover{
  color: #b4dafc;
}
*{
margin: 0px;
padding: 0px;

}

body{
font-family: century gothic;
background-image: linear-gradient(rgba(0,0,0,8),rgba(0,0,0,0.8)), url(https://levvvel.com/wp-content/uploads/best-fiber-optic-modem-router.jpg);
height: 100%;
background-size: cover;
background-position: center;
}
.main{

margin: 2%;
}

.container-fluid{
    color: white;
}
.table{
  color:white;
  width: 800px;
  margin-left: 18%;
}
.btn:hover{
  color: #b4dafc;
}
.rowhead{
  background-color: white;
  color: black;
}
.project{
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 35%;
}
.btn{
  background-color: transparent;
  border-color: transparent;
}